aiohttp
altair
annotated-types
anyio
async-timeout
attrs
backoff
boto3
botocore
cachetools
certifi
charset-normalizer
click
dataclasses-json
diskcache
docstring_parser
emoji
google-api-core
google-auth
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
gql
graphql-core
grpcio
grpcio-status
httpx
httpx-sse
idna
instructor
Jinja2
jmespath
jsonpatch
jsonpointer
jsonschema
langchain
langchain-aws
langchain-community
langchain-core
langchain-ollama
langchain-openai
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
litellm
markdown-it-py
marshmallow
mypy-extensions
numpy
pandas
pillow
platformdirs
proto-plus
protobuf
psutil
pydantic
pydantic-settings
pydantic_core
PyMuPDF
python-dateutil
python-dotenv
PyYAML
regex
requests
rich
rsa
s3transfer
SQLAlchemy
streamlit
tenacity
tiktoken
typer
typing-inspect
typing_extensions
urllib3
wandb
weave
xxhash
nest-asyncio 